@import url(./reset.css);
@import url(./font.css);

body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body>.container {
    position: relative;
    width: 1140px;
    height: 633px;
}

body>.container>.box-top {
    position: absolute;
    width: 518px;
    height: 380px;
    top: 1px;
    left: 78px;
}

.container>.box-top>.box-left-info {
    display: flex;
    width: 517px;
    height: 32px;
    justify-content: space-between;
}

.container>.box-top>.box-left-info>.box-location {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 4px;
    width: 169px;
    height: 32px;
}

.container>.box-top>.box-left-info>.box-location>.icon-location {
    background-image: url('../public/images/location.png');
    margin-right: 2px;
    width: 24px;
    height: 24px;
    background-size: 95%;
    background-repeat: no-repeat;

}

.container>.box-top>.box-left-info>.box-location>.text-location,
.box-date>.text-date {
    padding-bottom: 2px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #AAAAAA;
}

.container>.box-top>.box-left-info>.box-date {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 4px;
    width: 151px;
    height: 32px;
}

.container>.box-top>.box-left-card-weather {
    display: flex;
    width: 518px;
    height: 348px;
    padding: 24px 32px;
    border-radius: 32px;
    border: 2px solid;
    background: #AAAAAA0D;
    border-image-source: linear-gradient(123.89deg, rgba(170, 170, 170, 0.3) 9.82%, rgba(170, 170, 170, 0.05) 32.32%, rgba(170, 170, 170, 0.2) 61.65%, rgba(170, 170, 170, 0.05) 90.18%);
    box-shadow: 5px 5px 20px 0px #00000026, 4px 4px 4px 0px #FFFFFF1A inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
    justify-content: space-between;
}

.container>.box-top>.box-left-card-weather>.img-weather {
    width: 300px;
    height: 300px;
    background-image: url('../public/images/sun_rain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container>.box-top>.box-left-card-weather>.card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 114px;
    height: 300px;
    justify-content: space-between;
}

.container>.box-top>.box-left-card-weather>.card-right>.card-explain {
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.container>.box-top>.box-left-card-weather>.card-right>.card-temp {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
}

.container>.weather-table {
    position: absolute;
    align-items: center;
    display: flex;
    width: 1125px;
    height: 239px;
    top: 394px;
    left: 2px;
    margin: 8px;
}

.container>.weather-table>.arrow-left,
.weather-table>.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 8px;
}

.container>.weather-table>.arrow-left>img,
.weather-table>.arrow-right>img {
    align-items: center;
    width: 14px;
    height: 29px;
}

.container>.weather-table>.arrow-left>img {
    display: none;
}

.container>.weather-table>.weather-list {
    display: flex;
    align-items: center;
    width: 972px;
    height: 239px;
    border-radius: 32px;
    background-color: rgba(24, 24, 24, 1);
    overflow-x: auto;
    margin: 8px;
}

.container>.weather-table>.weather-list::-webkit-scrollbar {
    display: none;
}

.container>.weather-table>.weather-list>ul {
    display: flex;
}

.container>.weather-table>.weather-list>ul>li>.weather-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 150px;
    border-right: 1px solid rgba(170, 170, 170, 0.1);
}

.container>.weather-table>.weather-list>ul>li>.weather-element.currentRec {
    border: #AAAAAA solid 3px;
}

.container>.weather-table>.weather-list>ul>li>.weather-element.last::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.container>.weather-table>.weather-list>ul>li>.weather-element>.element-date {
    width: 48px;
    height: 33px;
    margin: 2px;
}

.container>.weather-table>.weather-list>ul>li>.weather-element>.element-date>.text-element-day {
    text-align: center;
    height: 18px;
    margin-bottom: 2px;

    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

.container>.weather-table>.weather-list>ul>li>.weather-element>.element-date>.text-element-time {
    text-align: center;
    height: 13px;

    font-family: Pretendard;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;

}

.container>.weather-table>.weather-list>ul>li>.weather-element>.img-element-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.container>.weather-table>.weather-list>ul>li>.weather-element>.img-element-weather>img {
    width: 24.64px;
    height: 24.64px;
}

.container>.weather-table>.weather-list>ul>li>.weather-element>.element-temp {
    width: 44px;
    height: 50px;

    font-family: Pretendard;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}

/* tablet */
@media (max-width: 1024px) {}

/* mobile */
@media (max-width: 550px) {}